* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

.banner {
    height: 10vh;
    width: auto;
    display: flex;
}

.banner h1 {
    background-color: rgb(45, 111, 150);
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner ul {
    background-color: rgb(33, 81, 109);
    width: 65%;
    height: 100%;
}

.nev {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nev li a {
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}

.nev li a:hover {
    color: red;
    text-decoration: underline;
} 

.principal {
    width: 100%;
    height: 100vh;
}

.text {
    margin-top: 5vh;
    margin-left: 10%;
    background-color: rgb(183, 190, 196);
    width: 80%;
    height: 90%;
    padding: 1%;
}

.text h1 {
    text-align: center;
    color: rgb(46, 46, 46);
}

.text p {
    font-size: 22px;
}

.porque {
    display: flex;
    align-items: center;
    margin-top: 5vh;
    width: 100%;
    height: 70%;
    background-color: rgb(45, 111, 150);
}

.porque ul {
    margin-left: 6%;
    margin-bottom: 2vw;
}


.porque li {
    color: rgb(11, 25, 34);
    font-size: 25px;
    margin-top: 25px;
    width: 800px;

}

.porque h1 {
    color: aliceblue;
    width: 300px;
    margin-left: 2vw;
}

/*-------ANIMAÇÃO--------*/

.anima img {
    width: 5vw;
    height: 5vw; 
}

@keyframes moeda {
    0% {transform: rotateX(0deg)}
    100% {transform: rotateX(360deg);}
}

.anima {
    animation-name: moeda;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}*/

@media (max-width: 768px) {
    .banner {
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .banner h1 {
        width: 100%;
        height: auto;
        padding: 10px 0;
    }

    .banner ul {
        width: 100%;
    }

    .nev li {
        margin: 5px 0;
    }

    .text {
        margin-top: 5vh;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        height: auto;
        padding: 10px;
    }

    .text h1 {
        font-size: 24px;
    }

    .text p {
        font-size: 18px;
    }

    .porque {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .porque ul {
        margin-left: 5%;
    }

    .porque li {
        font-size: 18px;
        width: 100%;
    }

    .anima img {
        width: 50%;

    }
}


@media (max-width: 480px) {
    .banner h1 {
        font-size: 16px;
    }

    .nev {
        width: 100%;
    }

    .text h1 {
        font-size: 20px;
    }

    .text p {
        font-size: 16px;
    }

    .porque li {
        font-size: 16px;
    }

    .anima img {
        width: 60%;
    }

    .nev li a {
        font-size: 14px;
    }
}